
#es-overlay{
    transition: all .5s;
    display: none;
    background-color: rgba(0,0,0,.85);
    position: fixed;
    top: 0;
    z-index: 99999;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
}

body.res-show-overlay #es-overlay{
    display: flex
}

