
#es-overlay{
    transition: all .5s;
    opacity: 0;
    background-color: rgba(0,0,0,.75);
    position: fixed;
    top: 0;
    z-index: 999;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

body.res-show-overlay #es-overlay{
    opacity: 1;
}
