<div class="clock">
  <div id="look-away-text">REST YOUR EYES</div>
  <svg class="clock__top-svg-ring" width="208px" height="208px">
    <circle
      class="clock__animated-ring"
      cx="104"
      cy="104"
      r="100"
      stroke="#f1a33b"
      stroke-linecap="round"
      stroke-width="4px"
      fill="none"
      stroke-dasharray="628"
      stroke-dashoffset="0"
    />
  </svg>
  <svg class="clock__bottom-svg-ring" width="208px" height="208px">
    <circle
      class="clock__grey-circle"
      cx="104"
      cy="104"
      r="100"
      stroke="#28282a"
      stroke-width="4px"
      fill="none"
      stroke-dasharray="628"
      stroke-dashoffset="0"
    />
  </svg>
  <span class="clock__timer">?</span>
  <button class="clock__start-stop-timer">
    <img class="clock__play-svg" src="IMGs/play.svg" />
    <img class="clock__pause-svg" src="IMGs/pause.svg" />
  </button>

  <button id="skip-rest-timer-button" class="clock__skip">SKIP</button>
</div>
