.clock__start-stop-timer {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    background-color: transparent;
    outline: none;
    border: none;
    z-index: 50;
    width: 64px;
    height: 64px;

}

.clock__pause-svg {
    display: block;
}

.clock__play-svg {
    display: none;
}

.clock {
    position: relative;
    width: 208px;
    height: 208px;
    margin: 12px;
    align-content: center;
    text-align: center;
}

.clock__bottom-svg-ring {
    position: absolute;
    top: 0px;
    left: 0px;
}

.toggle-animation {
    animation: wipe 1200s linear;
    rotate: 90;
}

.pause-animation {
    animation-play-state: paused;
}

.clock__timer {
    display: inline-block;
    text-align: center;
    width: 100%;
    line-height: 208px;
    margin: 0;
    font-weight: 100;
    font-size: 64px;
    color: #fdfdfd;
}

.clock__top-svg-ring {
    position: absolute;
    transform: rotate(270deg);
    top: 0px;
    left: 0px;
    z-index: 2;
}

.clock__skip{
    margin-top: 12px;
    padding-bottom: 12px;
    color: white;
    background-color: transparent;
    border: none;
    font-size:18px;
    font-family: "Roboto", sans-serif;
    display:none;
    margin-left: auto;
    margin-right: auto;
}
.clock__skip:hover{
    color: #f1a33b;
    cursor: pointer;
}

